body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh; /* Use full viewport height */
  }

  .container {
    display: flex; /* Set the container to flex display */
  flex-direction: column; /* Stack flex items vertically */
  align-items: center; /* Center align flex items horizontally */
  width: 100%; /* Full width to center the content */
  max-width: 1200px; /* Maximum width of the container */
  }

  h1 {
    color: #333;
    font-size: 44px;
    margin-top: 20px; /* Add space at the top */
    margin-bottom: 20px; /* Add space below the heading */
  }
  
  .card {
    background: white;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: fit-content;
  }
  
  input[type="file"] {
    margin: 10px 0;
  }
  
  #videoContainer {
    width: 320px;
    height: 240px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #labelContainer, #confidenceContainer {
    padding: 5px;
    background: white;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button:hover {
    background: #4cae4c;
  }
  
  /* Additional styles if needed */
  